prettytable==0.7.1
pymongo==2.5.1
python-dateutil==2.1
python-gflags==2.0
python-linkedin
pyzmq==13.0.0
readline==6.2.4.1
requests==1.2.3
requests-oauthlib==0.3.2
tornado==2.4.1
twitter==1.12.1
wsgiref==0.1.2
oauth2==1.5.211
twitter-text-py==2.0.0
JPype1==0.5.4.4
charade==1.0.3
boilerpipe==1.2.0.0
ipython==1.1.0
